rest-sample/testing/resources/soapui-pro-4.5.1/sample-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample" targetNamespace="http://www.soapui.org/sample/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.soapui.org/sample/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:con="http://eviware.com/soapui/config">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.soapui.org/sample/">
      <xsd:element name="loginRequest">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginResponse">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="sessionid" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchRequest">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="sessionid" type="xsd:string"/>
			<xsd:element name="searchstring" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>	  
	<xsd:element name="searchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="tns:ItemType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="price" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
	  <xsd:element name="buyRequest">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="sessionid" type="xsd:string"/>
			<xsd:element name="buystring" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>	  
      <xsd:element name="buyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="purchasestatus" type="tns:PurchaseStatusType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PurchaseStatusType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="stockStatus" type="xsd:string"/>
          <xsd:element name="expectedDelivery" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
	    <xsd:element name="logoutRequest">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="sessionid" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	<xsd:element name="logoutResponse">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="status" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	 <xsd:element name="login_fault" type="xsd:string"/>
	 <xsd:element name="search_fault" type="xsd:string"/>
     <xsd:element name="buy_fault" type="xsd:string"/>
  	 <xsd:element name="logut_fault" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>

	  
  <wsdl:message name="loginRequest">
	<wsdl:part name="loginRequest" element="tns:loginRequest"/>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="loginResponse" element="tns:loginResponse"/>
  </wsdl:message>
   <wsdl:message name="searchRequest">
	<wsdl:part name="searchRequest" element="tns:searchRequest"/>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="searchresult" element="tns:searchResponse"/>
  </wsdl:message>
  <wsdl:message name="buyRequest">
    <wsdl:part name="buyRequest" element="tns:buyRequest"/>
  </wsdl:message>
  <wsdl:message name="buyResponse">
    <wsdl:part name="buyResponse" element="tns:buyResponse"/>
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="logoutRequest" element="tns:logoutRequest"/>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="logoutResponse" element="tns:logoutResponse"/>
  </wsdl:message>
  <wsdl:message name="login_faultMsg">
	<wsdl:part name="login_faultMsg" element="tns:login_fault"/>
  </wsdl:message>
  <wsdl:message name="logout_faultMsg">
	<wsdl:part name="logout_faultMsg" element="tns:logut_fault"/>
  </wsdl:message>
  <wsdl:message name="search_faultMsg">
	<wsdl:part name="search_faultMsg" element="tns:search_fault"/>
  </wsdl:message>
  <wsdl:message name="buy_faultMsg">
	<wsdl:part name="buy_faultMsg" element="tns:buy_fault"/>
  </wsdl:message>
  
  
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest"/>
      <wsdl:output message="tns:loginResponse"/>
      <wsdl:fault name="fault" message="tns:login_faultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutRequest"/>
      <wsdl:output message="tns:logoutResponse"/>
      <wsdl:fault name="fault" message="tns:logout_faultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchRequest"/>
      <wsdl:output message="tns:searchResponse"/>
      <wsdl:fault name="fault" message="tns:search_faultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="buy">
      <wsdl:input message="tns:buyRequest"/>
      <wsdl:output message="tns:buyResponse"/>
      <wsdl:fault name="fault" message="tns:buy_faultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleServiceSoapBinding" type="tns:ISampleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://www.soapui.org/sample/login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://www.soapui.org/sample/logout"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://www.soapui.org/sample/search"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buy">
      <soap:operation soapAction="http://www.soapui.org/sample/buy"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
	  <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="SamplePort" binding="tns:SampleServiceSoapBinding">
      <soap:address location="http://www.soapui.org/sample"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>